@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-[#0A1019] to-[#02050A] text-gray-100;
  }
}

.custom-border-gradient {
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-image-source: linear-gradient(180deg, rgba(182, 255, 27, 0.46) 0%, rgba(64, 95, 0, 0.46) 100%);
    border-image-slice: 1;
  }

 


  .custom-google-button {
    background-color: #4285f4; /* Google blue */
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .custom-google-button:hover {
    background-color: #357ae8; /* Darker blue on hover */
  }
  
  .custom-google-button:disabled {
    background-color: #ccc; /* Disabled state */
    cursor: not-allowed;
  }
  